.article-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 8px;
  border-left: 10px rgb(190, 3, 3) solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Montserrat;
}

.preview {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.preview-image {
  object-fit: cover;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  height: auto;
  display: block;
}

.tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
  backdrop-filter: blur(12px);
  background: rgba(134, 133, 133, 0.2);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.article-header {
  margin-top: 16px;
}
.article-header h2 {
  width: 100%;
  max-width: 448px;
  color: rgb(18, 20, 22);
  font-family: Montserrat;
  font-size: clamp(18px, 5vw, 32px);
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.article-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.author-name {
  font-weight: bold;
}

.date {
  color: #555;
  font-size: 14px;
}

.article-description {
  margin: 16px 0;
  color: rgb(108, 117, 125);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}

.view-post-button {
  background: transparent;
  color: rgb(18, 20, 22);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: border-bottom 3s;
  width: 160px;
}
.view-post-button:hover {
  color: rgb(189, 0, 0);
}
.itemPreviev {
  text-align: left;
}

.control {
  width: 100%;
  cursor: pointer;
  gap: 10;
  padding: 15px 40px 15px 15px;
  border-bottom: 3px rgb(190, 3, 3) solid;
  border-radius: 0;
  background: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 8%;
  text-align: left;
  text-transform: uppercase;
  outline: none;
}
.control::placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 8%;
}
